---
import { SITE } from '../data/site';
---
<footer class="site">
  <div class="wrap">
    <span>Disponible para nuevos proyectos</span>
    <span>
      © {SITE.year}
      <span class="name">{SITE.name} by {SITE.author}</span>
      · {SITE.location}
    </span>
  </div>
</footer>
